@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}


body {
    margin: 0;
}

.title {
    color: white;
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 64px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    margin-bottom: 92.5px;
}

.footer {
    color: whitesmoke;
    background-color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.main-segment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-bottom: 30px;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.square {
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 20px;
}

.squares-per-side-input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid whitesmoke;
    background-color: #333333;
    color: whitesmoke;
}

.squares-per-side-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #444444;
    color: whitesmoke;
}